html  {
  font-size: 100%;
}

body  {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: arial, sans-serif;
}

header  {
  background-color: #242021;
  color: #fff;
  font-size: .5rem;
  text-transform: uppercase;
}

header img{
  height: 25%;
}

nav ul  {
  list-style-type: none;
}

nav ul li {
  background-color: #bb4430;
  border: 1px solid #bb4430;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}

nav ul li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
  text-transform:  uppercase;
  text-decoration: none;
}

nav ul li:nth-child(2) a {
  background-color: #f3dfa2;
  border:1px solid #f2dfa2;
  pading: 1em;
  font-weight: bold;
}

nav ul li:nth-child(2) a{
  color: #000;
}

nav ul li:nth-child(2) a:hover {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}

#first {
  padding: 0 0 1em 2em;
}

#second {
  padding: 0 0 1em 2em;
}

figure {
  padding: 1em 1em 0 1em;
}

figure img {
  width: 60%;
  height: 60%;
  border-radius: 50px;
}

footer  {
  background-color: #242021;
  color: #fff;
  padding: 0.8em 0 0 2em;
}
